:root {
  --color: hsl(232, 58%, 59%);
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

nav a {
  text-decoration: none;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* GENERAL */

body {
  display: grid;
  grid-template-areas:
    ".   header"
    "nav content";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
  font-family: system-ui, sans-serif;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, monospace;
}

h1 {
  grid-area: header;
  width: 100%;
  margin: 0;
  padding: 1rem;
  background-color: var(--color);
  color: white;
  font-size: 1.5em;
}

nav {
  grid-area: nav;
  padding: 1rem;
  font-size: 90%;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

main {
  grid-area: content;
  padding: 3rem 2rem;
}

/* CUSTOM */

.lektorly-page-count h2 {
  margin: 0;
  color: var(--color);
  font-size: 1.1em;
}

.lektorly-page-count p {
  margin: 0.25em 0;
  font-size: 2em;
}

.lektorly-contents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
