{% from 'tekir_macros.html' import render_breadcrumbs %}

{{ render_breadcrumbs(record, ancestors) }}

<h1>{{ record.title }}</h1>

<div id="system-fields">
  <em>{{ i18n_name(record.datamodel, g.lang_code) }}</em>
  {% if record._hidden %}&mdash; {{ _('Hidden') }}{% endif %}
  {% if not record._discoverable %}&mdash; {{ _('Undiscoverable') }}{% endif %}
</div>

<div class="button-group">
  <a class="button" href="{{ url_for('tekir_admin.edit_content', path=record.path, alt=record.alt) }}">
    {% include 'icons/edit-entry.svg' %} <span>{{ _('Edit') }}</span>
  </a>
  <a class="button" href="{{ record.url_path }}">
    {% include 'icons/preview_sel.svg' %} <span>{{ _('View') }}</span>
  </a>
  <button
      hx-get="{{ url_for('tekir_admin.api.open_folder', path=record.path) }}"
      hx-swap="none">
    {% include 'icons/document-open-folder.svg' %} <span>{{ _('Open folder') }}</span>
  </button>
</div>
