<div class="document-title">{{ record.title }}</div>

<div class="system-fields">
  <em>{{ i18n_name(record.datamodel, g.lang_code) }}</em>
  {% if record._hidden %}&mdash; {{ _('Hidden') }}{% endif %}
  {% if not record._discoverable %}&mdash; {{ _('Undiscoverable') }}{% endif %}
</div>

<ul role="toolbar">
  <li>
    <a class="button" href="{{ url_for('tekir_admin.edit_content', path=record.path, alt=record.alt) }}">
      {% include 'icons/edit-entry.svg' %} <span>{{ _('Edit') }}</span>
    </a>
  </li>
  <li>
    <a class="button" href="{{ record.url_path }}">
      {% include 'icons/preview_sel.svg' %} <span>{{ _('View') }}</span>
    </a>
  </li>
  <li>
    <button
        hx-get="{{ url_for('tekir_admin.api.open_folder', path=record.path) }}"
        hx-swap="none">
      {% include 'icons/document-open-folder.svg' %} <span>{{ _('Open folder') }}</span>
    </button>
  </li>
</ul>
