<h2>{{ _('Attachments') }}</h2>

{% set is_primary = record.alt == '_primary' %}

<form id="attachments-form" action="." method="POST">
  {% if attachments %}
  <input type="hidden" name="form_id" value="attachments-form"/>
  <div class="content-listing">
    <table>
      <thead>
        <tr>
          {% if is_primary %}
          <th>{{ _('Select') }}</th>
          {% endif %}
          <th>{{ _('File name') }}</th>
        </tr>
      </thead>
      <tbody>
        {% for attachment in attachments %}
        <tr>
          {% if is_primary %}
          <td>
            <input type="checkbox" name="selected-items" value="{{ attachment.path }}"/>
          </td>
          {% endif %}
          <td>
            <a href="{{ url_for('tekir_admin.contents', path=attachment.path, alt=record.alt) }}">{{ attachment._slug }}</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

    {% if is_primary %}
  <button
      hx-post="{{ url_for('tekir_admin.api.delete_confirm') }}"
      hx-target="#delete-dialog">
    {% include 'icons/delete.svg' %} <span>{{ _('Delete selected') }}</span>
  </button>
    {% endif %}
  {% else %}
  <div class="content-listing">
    <p>{{ _('No attachments.') }}</p>
  </div>
  {% endif %}

  {% if is_primary %}
  <button
      hx-get="{{ url_for('tekir_admin.api.upload_attachment', path=record.path, op='add_attachment') }}"
      hx-target="#upload-dialog">
    {% include 'icons/document-new.svg' %} <span>{{ _('Add') }}</span>
  </button>
  {% endif %}
</form>
