<h2>{{ _('Translations') }}:</h2>

<ul role="list">
  {% set is_primary = record.alt == '_primary' %}
  {% for alt in alts.values() %}
    {% set alt_name = i18n_name(alt, g.lang_code) %}
    {% set alt_url = url_for('tekir_admin.contents', path=record.path, alt=alt.id) %}
    {% set is_active = record.alt == alt.id %}
    {% if alt.id == '_primary' %}
      {% set alt_name = alt_name + ' (' + _('Primary') + ')' %}
  <li class="primary{{ ' active' if is_active else '' }}">
    {% elif alt.is_primary_overlay %}
      {% set alt_name = alt_name + ' (' + _('Overlaid') + ')' %}
  <li class="overlaid{{ ' active' if is_active else '' }}">
    {% else %}
  <li{{ ' class=active' if is_active else '' }}>
    {% endif %}

    {% if alt.exists %}
    <a href="{{ alt_url }}">{{ alt_name }}</a>
      {% if is_primary and (alt.id != '_primary') %}
    <button
        hx-get="{{ url_for('tekir_admin.api.delete_translation_confirm', path=record.path, alt=alt.id) }}"
        hx-target="#delete-dialog">
      {% include 'icons/delete.svg' %}
    </button>
      {% endif %}
    {% else %}
    {{ alt_name }}
      {% if is_primary %}
    <button
        hx-get="{{ url_for('tekir_admin.api.new_subpage', op='add_translation', path=record.path, lang=alt.id) }}"
        hx-target="#new-subpage-dialog">
      {% include 'icons/document-new.svg' %}
    </button>
      {% endif %}
    {% endif %}
  </li>
  {% endfor %}
</ul>

{% if record.alt != '_primary' %}
<div class="report warning">
  {{ _('Add and delete operations are available only through the primary language.') }}
</div>
{% endif %}
