<h2>{{ _('Subpages') }}</h2>

{% set is_primary = record.alt == '_primary' %}

<form id="subpages-form" action="." method="POST">
  {% if subpages %}
  <input type="hidden" name="form_id" value="subpages-form"/>
  <div class="content-listing">
    <table>
      <thead>
        <tr>
          {% if is_primary %}
          <th>{{ _('Select') }}</th>
          {% endif %}
          <th>{{ _('Name') }}</th>
          <th>{{ _('Title') }}</th>
          <th>{{ _('Type') }}</th>
        </tr>
      </thead>
      <tbody>
        {% for subpage in subpages %}
        <tr>
          {% if is_primary %}
          <td>
            <input type="checkbox" name="selected-items" value="{{ subpage.path }}"/>
          </td>
          {% endif %}
          <td>
            <a href="{{ url_for('tekir_admin.contents', path=subpage.path, alt=record.alt) }}">{{ subpage._slug }}</a>
          </td>
          <td>
            {{ subpage.title }}
          </td>
          <td>
            {{ i18n_name(subpage.datamodel, g.lang_code) }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

    {% if is_primary %}
  <button
      hx-post="{{ url_for('tekir_admin.api.delete_confirm') }}"
      hx-target="#delete-dialog">
    {% include 'icons/delete.svg' %} <span>{{ _('Delete selected') }}</span>
  </button>
    {% endif %}
  {% else %}
  <div class="content-listing">
    <p>{{ _('No subpages.') }}</p>
  </div>
  {% endif %}

  {% if is_primary %}
  <button
      hx-get="{{ url_for('tekir_admin.api.new_subpage', op='add_subpage', path=record.path) }}"
      hx-target="#new-subpage-dialog">
    {% include 'icons/document-new.svg' %} <span>{{ _('Add') }}</span>
  </button>
  {% endif %}
</form>
