<p>{{ _('This operation will delete the following content items:') }}</p>

<div class="report warning">
  <ol>
    {% for item in items %}
    <li>{{ item }}</li>
    {% endfor %}
  </ol>
</div>

<p>{{ _('Do you want to continue?') }}</p>
{% if form_id %}
<button class="confirm modal-close"
    hx-post="{{ url_for('tekir_admin.api.delete_content') }}"
    hx-swap="none"
    hx-include="#{{ form_id }}">{{ _('Yes, delete') }}</button>
{% else %}
<button class="confirm modal-close"
    hx-get="{{ url_for('tekir_admin.api.delete_alt') }}"
    hx-target="#content-translations ul"
    hx-vals="{{ vals }}">{{ _('Yes, delete') }}</button>
{% endif %}
<button class="cancel modal-close">{{ _('No, cancel') }}</button>
