{% extends 'tekir_base.html' %}

{% block body %}
<section id="tekir-page-count">
  <h2>{{ _('Number of Pages') }}</h2>
  <p hx-get="{{ url_for('tekir_admin_api.page_count') }}" hx-trigger="load">&nbsp;</p>
</section>

<section id="tekir-build">
  <h2>{{ _('Output') }}</h2>

  <div class="field">
    <p>{{ _('Folder:') }} <span id="output-path">{{ output_path }}</span></p>

    <button hx-get="{{ url_for('tekir_admin_api.open_folder', fs_path=output_path) }}"
        hx-swap="none">{{ _('Open in file manager') }}</button>
  </div>

  <div class="field">
    <p>{{ _('Time:') }} <span id="output-time">{{ output_time }}</span></p>

    <button hx-get="{{ url_for('tekir_admin_api.clean_build', lang=g.lang_code) }}"
        hx-target="#output-time">
      {{ _('Clean') }}
      <img class="htmx-indicator" src="{{ url_for('tekir_admin.static', filename='ball-triangle.svg') }}">
    </button>

    <button hx-get="{{ url_for('tekir_admin_api.build', lang=g.lang_code) }}"
        hx-target="#output-time">
      {{ _('Build') }}
      <img class="htmx-indicator" src="{{ url_for('tekir_admin.static', filename='ball-triangle.svg') }}">
    </button>

    <button id="tekir-publish">{{ _('Publish') }}</button>
  </div>
</section>

<dialog id="publish-select">
  <form action="." method="POST">
    <div class="field">
      <label for="field-server">{{ _('Server') }}</label>
      <select id="field-server" name="server" required>
        {% for server_id, server in servers.items() %}
        <option value="{{ server_id }}" {{ 'selected' if server.default else '' }}>{{ server.name }}: {{ server.target }}</option>
        {% endfor %}
      </select>
    </div>

    <button id="publish-confirm" hx-post="{{ url_for('tekir_admin_api.deploy', lang=g.lang_code) }}"
        hx-swap="none">
      {{ _('Publish') }}
      <img class="htmx-indicator" src="{{ url_for('tekir_admin.static', filename='ball-triangle.svg') }}">
    </button>
    <button id="publish-cancel">{{ _('Cancel') }}</button>
  </form>
</dialog>
{% endblock %}
