{% extends 'tekir_base.html' %}

{% block body %}
<h2>{{ _('Tekir Admin Panel Preferences') }}</h2>

<form action="." method="POST">
  <div class="field">
    <label for="language">{{ _('Language') }}</label>
    {% for locale in translations %}
    <input type="radio" id="language" name="language" value="{{ locale }}"/> {{ locale.get_display_name() }}<br/>
    {% endfor %}
  </div>

  <div class="field">
    <label for="theme">{{ _('Theme') }}</label>
    <input type="radio" id="theme" name="theme" value="system"/> {{ _('System default') }}<br/>
    <input type="radio" id="theme" name="theme" value="light"/> {{ _('Light') }}<br/>
    <input type="radio" id="theme" name="theme" value="dark"/> {{ _('Dark') }}<br/>
  </div>
</form>

<script>
  window.addEventListener("DOMContentLoaded", (ev) => {
      const lang = localStorage.getItem("ui-language") ?? "en";
      document.querySelector(`input[value="${lang}"]`).checked = true;

      const mode = localStorage.getItem("color-mode") ?? "system";
      document.querySelector(`input[value="${mode}"]`).checked = true;
  });

  document.querySelectorAll('input[name="language"]').forEach((el) => {
      el.addEventListener("click", (ev) => {
          const uiLang = ev.currentTarget.value;
          localStorage.setItem("ui-language", uiLang);
          const pageLang = document.documentElement.getAttribute("lang");
          window.location.href = window.location.href.replace(`/${pageLang}/`, `/${uiLang}/`);
      });
  });

  document.querySelectorAll('input[name="theme"]').forEach((el) => {
      el.addEventListener("click", (ev) => {
        const mode = ev.currentTarget.value;
        if (mode == "system") {
            document.documentElement.removeAttribute("color-mode");
            localStorage.removeItem("color-mode");
        } else {
            document.documentElement.setAttribute("color-mode", mode);
            localStorage.setItem("color-mode", mode);
        }
      });
  });
</script>
{% endblock %}
