{% extends 'tekir_base.html' %}

{% from 'tekir_macros.html' import render_breadcrumbs, render_upload_dialog %}

{% block body %}
{{ render_breadcrumbs(record, ancestors) }}

  {% if record._attachment_type == "image" %}
  <div id="attachment-media">
    <img src="{{ record.path }}" alt="" widtn="{{ record.width }}" height="{{ record.height }}"/>
  </div>

  <div id="attachment-summary">
    <p>{{ _('Size') }}: {{ record.width }}x{{record.height}}</p>

    <button class="add-content" data-formid="replace-attachment-form">{{ _('Replace') }}</button>
  </div>
  {% endif %}

{{ render_upload_dialog("replace-attachment", endpoint="replace_attachment", path=record.path) }}

{% endblock %}
