{% extends 'tekir_base.html' %}

{% block body %}

{% from 'tekir_macros.html' import render_breadcrumbs %}
<div class="breadcrumbs">
  {{ render_breadcrumbs(record, ancestors) }}
</div>

<div id="attachment-preview">
  {% if record._attachment_type == "image" %}
  <img src="{{ record.path }}" alt="" widtn="{{ record.width }}" height="{{ record.height }}"/>
  {% endif %}
</div>

<div id="attachment-info">
  {% if record._attachment_type == "image" %}
  <p>{{ _('Image Size') }}:<br/>
    {{ record.width }} x {{record.height}}</p>
  {% endif %}

  <ul role="toolbar">
    <li>
      <button
          hx-get="{{ url_for('tekir_admin.api.upload_attachment', path=record.path, op='replace_attachment') }}"
          hx-target="#upload-dialog">
        {% include 'icons/document-swap.svg' %} <span>{{ _('Change Image') }}</span>
      </button>
    </li>
  </ul>
</div>

<dialog id="upload-dialog">
</dialog>

<dialog id="error-dialog">
</dialog>
{% endblock %}
