{% macro render_field(item, field, prefix) %}
  {% set field_name = prefix + field.name %}
  {% set field_id = 'field-' + field_name %}
  {% set field_value = item[field.name] %}
  <div class="field">
    <label for="{{ field_id }}">{{ field.label }}</label>
    {% if field.type.name == 'datetime' %}
    <input type="datetime-local" id="{{ field_id }}" name="{{ field_name }}" value="{{ field_value }}" />
    {% elif field.type.name == 'date' %}
    <input type="date" id="{{ field_id }}" name="{{ field_name }}" value="{{ field_value }}" />
    {% elif field.type.name == 'boolean' %}
    <input type="checkbox" id="{{ field_id }}" name="{{ field_name }}"
        {{ 'checked' if field_value else '' }} />
    {% elif field.type.name == 'select' %}
    <select id="{{ field_id }}" name="{{ field_name }}">
      <option value="">----</option>
      {% for choice, label in field.type.source.iter_choices(pad, record) %}
      <option value="{{ choice }}"
          {{ 'selected' if choice == field_value else '' }}>{{ label['en'] }}</option>
      {% endfor %}
    </select>
    {% elif field.type.name in ('string', 'integer', 'float', 'url', 'sort_key') %}
    <input type="text" id="{{ field_id }}" name="{{ field_name }}" value="{{ field_value }}" />
    {% elif field.type.name in ('text', 'strings') %}
    <textarea id="{{ field_id }}" name="{{ field_name }}" rows="10">{{ field_value }}</textarea>
    {% elif field.type.name in ('markdown', 'html') %}
    <textarea id="{{ field_id }}" name="{{ field_name }}" rows="10" class="code"
        data-content-type="{{ field.type.name }}">{{ field_value }}</textarea>
    {% elif field.type.name == 'rst' %}
    <textarea id="{{ field_id }}" name="{{ field_name }}" rows="10" class="code">{{ field_value.source }}</textarea>
    {% elif field.type.name == 'flow' %}
      {% if field_value %}
        {% for block in field_value.blocks %}
          {% set block_index = loop.index %}
    <details id="{{ '%s-%d' % (field_name, block_index) }}">
      <summary>
        {{ block.flowblockmodel.name }}
        <button class="delete-block">{{ _('Delete') }}</button>
        {% if block_index != 1 %}
        <button class="up-block">{{ _('Move up') }}</button>
        {% endif %}
      </summary>
      <fieldset>
        {% for block_field in block.flowblockmodel.fields %}
          {{ render_field(block, block_field, prefix='%s-%d-%s-' % (field_name, block_index, block.flowblockmodel.id)) }}
        {% endfor %}
      </fieldset>
    </details>
        {% endfor %}
      {% endif %}
    {% endif %}
  </div>
{% endmacro %}

{% extends 'tekir_base.html' %}

{% block body %}
  <form id="tekir-content-edit" action="." method="POST">
    {% for field in record.datamodel.fields %}
      {{ render_field(record, field, prefix='') }}
    {% endfor %}

    <button id="save-content" hx-post="{{ url_for('tekir_admin_api.save_content', path=record.path, lang=g.lang_code) }}"
        hx-target="#save-result">{{ _('Save') }}</button>
    <button id="check-changes" hx-post="{{ url_for('tekir_admin_api.check_changes', path=record.path, lang=g.lang_code) }}"
        hx-target="#changes-result">{{ _('Done') }}</button>
  </form>

  <dialog id="save-dialog">
    <p id="save-result"></p>
    <button id="save-close">{{ _('Close') }}</button>
  </dialog>

  <dialog id="changes-dialog">
    <p id="changes-result"></p>
    <button id="changes-continue">{{ _('Continue') }}</button>
    <button id="changes-cancel">{{ _('Cancel') }}</button>
  </dialog>
{% endblock %}
