{% extends 'tekir_base.html' %}

{% block body %}
<h1>{{ _('Tekir Admin Panel Preferences') }}</h1>

<form id="preferences" action="." method="POST">
  <div class="field">
    <h3>{{ _('Language') }}</h3>
    <ul class="field-options">
      {% for locale in translations %}
      <li>
        <input type="radio" id="language_{{ locale }}" name="language" value="{{ locale }}"/>
        <label for="language_{{ locale }}">{{ locale.get_display_name() }}</label>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="field">
    <h3>{{ _('Theme') }}</h3>
    <ul class="field-options">
      <li>
        <input type="radio" id="theme_system" name="theme" value="system"/>
        <label for="theme_system">{{ _('System default') }}</label>
      </li>
      <li>
        <input type="radio" id="theme_light" name="theme" value="light"/>
        <label for="theme_light">{{ _('Light') }}</label>
      </li>
      <li>
        <input type="radio" id="theme_dark" name="theme" value="dark"/>
        <label for="theme_dark">{{ _('Dark') }}</label>
      </li>
    </ul>
  </div>
</form>

<script>
  window.addEventListener("DOMContentLoaded", (ev) => {
      const lang = localStorage.getItem("ui-language") ?? "en";
      document.getElementById(`language_${lang}`).checked = true;

      const mode = localStorage.getItem("color-mode") ?? "system";
      document.getElementById(`theme_${mode}`).checked = true;
  });

  document.querySelectorAll('input[name="language"]').forEach((el) => {
      el.addEventListener("click", (ev) => {
          const uiLang = ev.currentTarget.value;
          const pageLang = document.documentElement.getAttribute("lang");
          if (uiLang != pageLang) {
            localStorage.setItem("ui-language", uiLang);
            window.location.href = window.location.href.replace(`/${pageLang}/`, `/${uiLang}/`);
          }
      });
  });

  document.querySelectorAll('input[name="theme"]').forEach((el) => {
      el.addEventListener("click", (ev) => {
        const mode = ev.currentTarget.value;
        if (mode == "system") {
            document.documentElement.removeAttribute("color-mode");
            localStorage.removeItem("color-mode");
        } else {
            document.documentElement.setAttribute("color-mode", mode);
            localStorage.setItem("color-mode", mode);
        }
      });
  });
</script>
{% endblock %}
