<!DOCTYPE html>
<html lang="{{ g.lang_code }}">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{{ g.admin_context.pad.env.project.name }} - {{ _('Admin Panel') }}</title>
  <link rel="stylesheet" href="{{ url_for('tekir_admin.static', filename='tekir-admin.css') }}"/>
  <script src="{{ url_for('tekir_admin.static', filename='htmx.min.js') }}"></script>
  <script src="{{ url_for('tekir_admin.static', filename='tekir-admin.js') }}"></script>
</head>
<body>
  <nav id="main-tabs" aria-label="{{ _('main navigation') }}">
    <ul role="list">
      <li>
        <a class="button" href="{{ url_for('tekir_admin.overview') }}">
          {% include 'icons/user-home.svg' %} <span>{{ _('Overview') }}</span>
        </a>
      </li>
      <li>
        <a class="button" href="{{ url_for('tekir_admin.contents', path='/') }}">
          {% include 'icons/contents.svg' %} <span>{{ _('Content') }}</span>
        </a>
      </li>
      <li>
        <a class="button" href="{{ url_for('tekir_admin.preferences') }}">
          {% include 'icons/preferences-system-symbolic.svg' %} <span>{{ _('Preferences') }}</span>
        </a>
      </li>
    </ul>
  </nav>

  <main class="{{ self._TemplateReference__context.name.split('.')[0] }}">
    {% block body %}{% endblock %}
  </main>
</body>
</html>
