{% extends 'tekir_base.html' %}

{% block body %}
<div id="content-summary"
    hx-get="{{ url_for('tekir_admin.api.content_summary', path=record.path) }}"
    hx-trigger="load">
</div>

<section id="content-subpages"
    hx-get="{{ url_for('tekir_admin.api.content_subpages', path=record.path) }}"
    hx-trigger="load">
</section>

<section id="content-attachments"
    hx-get="{{ url_for('tekir_admin.api.content_attachments', path=record.path) }}"
    hx-trigger="load">
</section>

<dialog id="delete-dialog">
</dialog>

<dialog id="new-subpage-dialog">
</dialog>

<dialog id="upload-dialog">
</dialog>

<dialog id="error-dialog">
</dialog>
{% endblock %}
