<!DOCTYPE html>
{% set lang = get_locale() %}
<html lang="{{ lang }}">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{{ g.admin_context.pad.env.project.name }} - {{ _("Admin Panel") }}</title>
  <link rel="stylesheet" href="{{ url_for('admin_tekir.static', filename='tekir-admin.css') }}">
  <script src="{{ url_for('admin_tekir.static', filename='htmx.min.js') }}"></script>
</head>
<body>
  <h1>{{ _("Admin Panel") }}</h1>
  <div id="langs">
    <ul>
      <li><a href="{{ request.url }}&lang=en">English</li>
      <li><a href="{{ request.url }}&lang=tr">Türkçe</li>
    </ul>
  </div>
  <nav>
    <ul>
      <li><a href="/admin_tekir/?lang={{ lang }}">{{ _("Home") }}</a></li>
      <li><a href="/admin_tekir/contents?path=/&lang={{ lang }}">{{ _("Contents") }}</a></li>
    </ul>
  </nav>
  <main>
    {% block body %}{% endblock %}
  </main>
</body>
</html>
